@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* General reset for margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic body styles */
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif; /* Default font */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #f1f1f1;

  background-size: cover;
  background-color: #0e0e1b;
  padding: 20px; /* Padding around the page */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#main-doc {
  display: flex;
}

.search-container {
  display: flex; /* Aligns items in a row */
  width: 60%;
}

#top-navbar {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.search-container input[type="text"] {
  color: white;
  background-color: #19192e;
  height: 35px;
  width: 100%;
  padding: 6px;
  border: none;
  border-radius: 0 15px 15px 0;
}

.search-container button {
  padding: 0 0 0 10px;
  background-color: #19192e; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 15px 0 0 15px; /* Rounded corners for right side */
  cursor: pointer; /* Pointer cursor on hover */
}

.search-container button:hover {
  background-color: #1976d2; /* Darker shade on hover */
}

.search-container input[type="text"]:focus {
  outline: none; /* Remove outline on focus */
}

/* Header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px; /* Add space below headings */
}

h1 {
  font-size: 2rem;
}

/* Links */
a {
  text-decoration: none; /* Remove underline from links */
  color: #007bff; /* Blue color for links */
  cursor: pointer;
}

a:hover {
  color: #0056b3; /* Darker blue on hover */
}

@media (max-width: 600px) {
  #navbar {
    display: none;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
